mixin work(title, subTitle, fileName, imgCount, href)
  .work
    - let baseURL = '../images/' + fileName + '/' + fileName

    if imgCount > 1
      .work__images
        - for (let x = 1; x < imgCount; x++)
          - let URL = baseURL + '-' + x + '.jpg'
          - let URLxs = baseURL + '-' + x + '-xs.jpg'
          - let URLmd = baseURL + '-' + x + '-md.jpg'
          - let URLsm = baseURL + '-' + x + '-sm.jpg'
          .work__image
            img.lazy(
              src= URLxs
              data-src= URL
              data-srcset= URL + ' 2000w,' + URLmd + ' 1260w,' + URLsm + ' 760w'
            )
    else if imgCount == 1
      .work__image
        - let URL = baseURL + '.jpg'
        - let URLxs = baseURL + '-xs.jpg'
        - let URLmd = baseURL + '-md.jpg'
        - let URLsm = baseURL + '-sm.jpg'
        img.lazy(
          data-src= URL
          data-srcset= URL + ' 2000w,' + URLmd + ' 1260w,' + URLsm + ' 760w'
        )

    block

    .work__header
      .work__header--group
        span Project name
        p= title
      .work__header--group
        span Project type
        p= subTitle
      if href
        .work__header--group
          span Project URL
          p
            a.work__link(href=href target="_blank")= href
              include ../../images/link.svg


mixin work-grid(fileName, imgCount)
  .work__images-grid
    - for (let x = 1; x < imgCount; x++)
      - let baseURL = '../images/' + fileName + '/' + fileName + '-' + x
      - let URL = baseURL + '.jpg'
      - let URLxs = baseURL + '-xs.jpg'
      - let URLmd = baseURL + '-md.jpg'
      - let URLsm = baseURL + '-sm.jpg'
      .work__image
        img.lazy(
          data-src= URL
          data-srcset= URL + ' 2000w,' + URLmd + ' 1260w,' + URLsm + ' 760w'
        )